:root {
  --pouch-title-height: 49px;
  --pouch-nav-font-size: 30px;

  --topbottom-padding: 80px;
  --leftright-padding: 60px;

  --airplane-width: 213px;
  --nav-width: 200px;
  --airplane-buffer: calc(var(--airplane-width) + var(--nav-width));

  --main-img-top-offset: 100px;
  --main-img-left-offset: 180px;
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/IBMPlexMono-Regular.ttf) format('truetype');
}


@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 400;
  src: url(/fonts/IBMPlexMono-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/IBMPlexMono-Medium.ttf) format('truetype');
}


@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 700;
  src: url(/fonts/IBMPlexMono-MediumItalic.ttf) format('truetype');
}

html {
  background-color: white;
  color: black;
  font-family: "IBM Plex Mono", monospace;
  font-size: 20px;
  line-height: 1.6;
  text-underline-position: under;
  margin: 0;
}

body {
  margin: 0;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
}

hr {
  border-color: gainsboro;
  border-style: solid;
  border-top: 0;
}

ul {
  list-style-type: square;
}

#container {
  margin: 0;
  position: relative;
  background-color: white;
  overflow-x: clip;
  overflow-y: visible;
}

#image-container {
  position: relative;
  width: calc(1202px + var(--main-img-left-offset));
  height: calc(970px + var(--main-img-top-offset));
  max-width: 100%;
}

#background-img {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(/images/background.png);
  background-size: 1202px 970px;
  background-position: var(--main-img-left-offset) var(--main-img-top-offset);
  background-repeat: no-repeat;
  z-index: 2;
}

#foreground-img {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(/images/foreground.png);
  background-size: 1202px 970px;
  background-position: var(--main-img-left-offset) var(--main-img-top-offset);
  background-repeat: no-repeat;
  z-index: 20;
}

#monitor {
  position: absolute;
  aspect-ratio: 777 / 999;
  width: 650px;
  left: calc(750px + var(--main-img-left-offset));
  top: calc(380px + var(--main-img-top-offset));
  background-image: url(/images/monitor.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 30;
}

#newsletter-label {
  animation: wiggle2 3s linear infinite;
  transform: rotate(1deg);
}


#studio-head {
  line-height: 2;
  z-index: 100;
  position: relative;
  padding: var(--topbottom-padding) var(--leftright-padding);
}

#studio-head h1 {
  margin: 0;
  position: relative;
}

#studio-head h1 img {
  position: relative;
  left: 1px;
  
}

#studio-head h1 a {
  text-decoration: none;
  cursor: pointer;
}

#studio-head h2 {
  margin: 0;
  font-weight: normal;
  color: #488BC6;
  position: relative;
  font-size: 24px;
  margin-top: 10px;
  line-height: 1.4;
}

#studio-nav {
  position: absolute;
  top: calc(var(--topbottom-padding));
  font-size: var(--pouch-nav-font-size);
  text-align: right;
  right: var(--leftright-padding);
  z-index: 100;
}

#studio-nav a {
  background-color: white;
}

.pouch {
  background-image: url(/images/pouch-stack.png);
  background-size: cover;
  width: 264px;
  height: 375px;
  background-repeat: no-repeat;
  transform: rotate(-18deg);
}

#pouch-stack {
  position: absolute;
  bottom: calc(-300px - var(--main-img-top-offset));
  left: calc(45px + var(--leftright-padding));
  z-index: 30;
}

#pouch-stack .pouch {
  position: absolute;
  bottom: 0;
  left: 0;
}

#pouch-stack .pouch:nth-child(2) {
  bottom: 20px;
}

#pouch-stack .pouch:nth-child(3) {
  bottom: 60px;
  left: 2px;
}

#pouch-stack .pouch:nth-child(4) {
  bottom: 90px;
}

#pouch-stack .pouch:nth-child(5) {
  bottom: 120px;
}

#pouch-stack .pouch:nth-child(6) {
  bottom: 150px;
}

#pouch-stack .pouch:nth-child(7) {
  bottom: 180px;
  left: -3px;
}

#pouch-stack .pouch:nth-child(8) {
  bottom: 210px;
}
#pouch-stack .pouch:nth-child(9) {
  bottom: 240px;
}

#pouch-stack .pouch:nth-child(10) {
  bottom: 280px;
}

#pouch-stack .pouch:nth-child(11) {
  bottom: 325px;
}

#pouch-stack .pouch:nth-child(12) {
  bottom: 350px;
}

#pouch-stack .pouch:nth-child(13) {
  bottom: 380px;
}

#pouch-stack .pouch:nth-child(14) {
  bottom: 420px;
  left: 2px;
}

#pouch-stack .pouch:nth-child(15) {
  bottom: 450px;
}

#pouch-stack .pouch:nth-child(16) {
  bottom: 480px;
  left: -yy2px;
}

#pouch-stack .pouch:nth-child(17) {
  bottom: 500px;
}

#pouch-stack .pouch:nth-child(18) {
  bottom: 520px;
}

#pouch-stack .pouch:nth-child(19) {
  bottom: 550px;
  left: 2px;
}

#pouch-stack .pouch:nth-child(20) {
  bottom: 580px;
}

#container main h1 {
  font-size: 50px;
  /* text-align: center; */
  text-decoration: underline;
  margin: 75px 0;
}

#container main {
  /* margin: auto; */
  max-width: 800px;
  /* border: 2px solid black; */
}

p {
  margin-top: 2em;
  margin-bottom: 2em;
}

#mebubble {
  position: absolute;
  z-index: 40;
  bottom: 620px;
  left: calc(620px + var(--main-img-left-offset));
}

#computerbubble {
  position: absolute;
  z-index: 40;
  bottom: 495px;
  left: calc(950px + var(--main-img-left-offset));
}

#mebubble img {
  width: 225px;
}

#computerbubble img {
  width: 190px;
}

[hidden] { display: none !important; }