body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

header {
  margin: 16px;
  margin-top: 64px;
}

#link-logo {
  width: 120px;
}

header h2 {
  margin: 16px;
  font-size: 18px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px;
  max-width: 680px;
  width: 100%;
  margin: auto;
}

.list a {
  border-radius: 100px;
  padding: 16px 44px;
  display: block;
  background-color: black;
  color: white;
  font-size: 14px;
  width: 100%;
  text-decoration: none;
  transition: background-color 0.5s, color 0.5s;
  border: 2px solid black;
}

.list a:active,
.list a:hover {
  background-color: white;;
  color: black;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin: 32px;
}

.social-icons img{
  height: 50px;
}