---
layout: main
---

<div id="image-container">
  <div id="studio-head">
    <h1><a href="/">Pouch Studio</a></h1>
    <h2>software (&amp; non-software)<br>that loves paper</h2> 
  </div>

  <div id="pouch-stack">
    <div class="pouch"></div>
    <div class="pouch"></div>
    <div class="pouch"></div>
    <div class="pouch"></div>
    <div class="pouch"></div>
    <div class="pouch"></div>
    <div class="pouch"></div>
    <div class="pouch"></div>
    <div class="pouch"></div>
    <div class="pouch"></div>
    <div class="pouch"></div>
    <div class="pouch"></div>
    <div class="pouch"></div>
    <div class="pouch"></div>
    <div class="pouch"></div>
    <div class="pouch"></div>
    <div class="pouch"></div>
    <div class="pouch"></div>
    <div class="pouch"></div>
    <div class="pouch"></div>
  </div>
</div>

{{ content | safe }}
