---
layout: main
---

<div id="image-container">
  <div id="background-img"></div>
  <div id="foreground-img"></div>
  <div id="monitor"></div>
  <div id="mebubble">
    <img src="/images/me-beep.png" id="me-beep" hidden/>
    <img src="/images/me-exclaim.png" id="me-exclaim" hidden/>
  </div>
  <div id="computerbubble">
    <img src="/images/comp-boop.png" id="comp-boop" hidden/>
    <img src="/images/comp-exclaim.png" id="comp-exclaim" hidden/>
  </div>
  <div id="studio-head">
    <h1><a href="/"><img src="/images/pouch-studio.png" width="400" height="49"/></a></h1>
    <h2>software (&amp; non-software)<br>that loves paper</h2> 
  </div>

  <div id="pouch-stack">
    <div class="pouch"></div>
    <div class="pouch"></div>
    <div class="pouch"></div>
    <div class="pouch"></div>
    <div class="pouch"></div>
    <div class="pouch"></div>
    <div class="pouch"></div>
    <div class="pouch"></div>
    <div class="pouch"></div>
    <div class="pouch"></div>
    <div class="pouch"></div>
    <div class="pouch"></div>
    <div class="pouch"></div>
    <div class="pouch"></div>
    <div class="pouch"></div>
    <div class="pouch"></div>
    <div class="pouch"></div>
    <div class="pouch"></div>
    <div class="pouch"></div>
    <div class="pouch"></div>
  </div>
</div>

{{ content | safe }}
